<div class="jumbotron text-center">
    <h1>Contact Page</h1>

    <div class="col-lg-4 col-lg-offset-4">
        <form ng-submit="submit()" ng-controller="saveController" class="form-horizontal">

            <input type="text" ng-model="name" name="name" class="form-control col-lg-10"/>
            <input type="text" ng-model="email" name="email" class="form-control col-lg-10"/>
            <input type="text" ng-model="password" name="password" class="form-control col-lg-10"/>

            <input type="submit" id="submit" class="btn btn-primary" value="Submit" />

            <pre>
                result={{result}}
            </pre>
        </form>
    </div>
</div>